<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5">
                <form [formGroup]="loginForm" (submit)="onSubmit()">

                    <div class="form-data">
                        <div class="forms-inputs mb-4">
                            <span>Login</span>
                            <input class="form-control" [formControlName]="'login'" autocomplete="off" type="text">
                            <div *ngIf="loginForm.invalid" class="invalid-feedback">A valid email is required!</div>
                        </div>
                        <div class="forms-inputs mb-4">
                            <span>Password</span>
                            <input class="form-control" [formControlName]="'password'" autocomplete="off" type="password">
                            <div *ngIf="loginForm.invalid" class="invalid-feedback">Password must be 8 character!</div>
                        </div>
                        <div class="mb-3">
                            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-dark w-100">Login</button>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="loginFailed">
                        Wrong username or password
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>