<nav class="navbar">
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
    </button>

    </div>
</nav>

<mat-drawer-container class="drawer" autosize>
    <mat-drawer #drawer mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <mat-drawer-content>
        Although it’s not required, you can wrap a navbar in a .container to center it on a page. Or you can add a container inside the .navbar to only center the contents of a fixed or static top navbar.


    </mat-drawer-content>

</mat-drawer-container>